name: Build runtime container

on:
  push:
    branches: 
      - main

jobs:
  build-runtime-image:
    runs-on: ubuntu-latest
    steps:      
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - 
        name: Build
        uses: docker/build-push-action@v4
        with:
          push: false
          tags: foo:latest
          file: /Docker/RuntimeImage
          platforms: linux/arm64
